<?xml version="1.0" encoding="utf-8"?>
<SiteConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <systempath>E:\vs2008_svn签出\泸县数字农经网\HzsCms\HzsWeb\</systempath>
    <webpath>/</webpath>
    <webadminpath>sunadmin</webadminpath>
    <numtongji>false</numtongji>
    <dbname>hzsweb</dbname>
    <sitename>泸县数字农经网</sitename>
    <ishtml>false</ishtml>
    <ffmpeg>/video/tool/ffmpeg.exe</ffmpeg>
    <website>
    </website>
    <companyname>青岛太阳软件有限公司</companyname>
</SiteConfig>